@import '../../../styles/vars';

.custom-spinbox {
  display: flex;
  align-items: center;
  font-size: 24px;

  &__button {
    width: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__value {
    font-size: 16px;
    border: 0.7px solid $dark-color;
    border-radius: $border-radius;
    width: 1.8em;
    padding: 0.4em 0;
    text-align: center;

    // hide default arrows
    -moz-appearance: textfield !important;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
    }

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
