$primary-color: #d79655;
$dark-color: #111;
$light-color: #fff;
$gray-color: #c4c4c4;
$dark-gray-color: darken($gray-color, 15);
$red-color: #b7561f;
$error-color: rgba(255, 67, 67, 0.849);
$border-radius: 11px;
$button-weight: 500;

$primary-font-family: 'Montserrat', sans-serif;
$title-font-family: 'Montserrat', sans-serif;
$logo-font-family: 'Oranienbaum', sans-serif;

$size-md: 700px;
$size-lg: 1180px;
$max-width: 1420px;

$padding-sm: 1rem;
$padding-md: 1.6rem;
$padding-lg: 2.4rem;
