@import '../../../styles/vars';

.page-content {
  padding: 35px $padding-sm;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: $size-md) {
  .page-content {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }
}

@media screen and (min-width: $size-lg) {
  .page-content {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
  }
}
