@import '../../../styles/vars';

.password-reset-verify-content {
  max-width: 640px;

  &__info {
    margin-bottom: 1em;
  }

  form {
    > * {
      margin-top: 0.6em;
    }

    + button {
      margin-top: 0.6em;
    }

    > div:first-child {
      margin-bottom: 1em;
    }
  }

  button {
    font-size: 16px;
    font-weight: bold;
    width: 260px;
    padding: 0.6em 1.2em;
  }
}
